{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
     <h3> Business</h3>
     <ul>
       {{ macro.displayNewsList(business) }}
     </ul>

     <h3> Entertainment </h3>
     <ul>
       {{ macro.displayNewsList(entertainment) }}
    </ul>

    <h3>Politics</h3>
       <ul>
         {{ macro.displayNewsList(politics) }}
      </ul>
    <h3>Sports</h3>
     <ul>
       {{macro.displayNewsList(sport) }}
    </ul>
    <h3>Technology</h3>
       <ul>
         {{macro.displayNewsList(technology) }}
      </ul>

{% endblock%}
