{% macro displayNewsList(source_results_list) %}

    {% for news in source_results_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card">
          <!-- <h3>{{news.category}}</h3> -->
          <br>
          <h5><a href="/news/{{news.id}}">{{ news.name }}</a></h5>

          <p>{{news.description}}</p>

          <p><a href="{{news.url}}">{{news.id}}</a></p>
        </div>

    {% endfor %}

{% endmacro %}
{% macro displayArticles(news_articles_list) %}


    {% for article in news_articles_list %}
       <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card">
      <!-- <h3>{{news.category}}</h3> -->
           <br>
           <img src="{{article.url_to_image}}">
           <h5><a href="{{article.url}}">{{ article.name}}</h5>

           <p>{{article.description}}</p>

           <p>{{article.published_at}}</p>
     </div>

  {% endfor %}

{% endmacro %}
